{% assign monarch = page.monarch %}
{% if monarch == "G3" %}
  <!-- George III -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="G3F.html">Farthings</a>
      <a class="tag is-link" href="G3HP.html">Halfpennies</a>
      <a class="tag is-link" href="G3P.html">Pennies</a>
      <a class="tag is-link" href="G3TP.html">Twopence</a>
      <a class="tag is-link" href="G36.html">Sixpence</a>
      <a class="tag is-link" href="G3S.html">Shillings</a>
      <a class="tag is-link" href="G3HC.html">Halfcrowns</a>
      <a class="tag is-link" href="G3C.html">Crowns</a>
    </div>
  </nav>
{% elsif monarch == "G4" %}
  <!-- George IV -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="G4TF.html">Third Farthing</a>
      <a class="tag is-link" href="G4HF.html">Half Farthings</a>
      <a class="tag is-link" href="G4F.html">Farthings</a>
      <a class="tag is-link" href="G4HP.html">Halfpennies</a>
      <a class="tag is-link" href="G4P.html">Pennies</a>
      <a class="tag is-link" href="G46.html">Sixpence</a>
      <a class="tag is-link" href="G4S.html">Shillings</a>
      <a class="tag is-link" href="G4HC.html">Halfcrowns</a>
      <a class="tag is-link" href="G4C.html">Crowns</a>
    </div>
  </nav>
{% elsif monarch == "W4" %}
  <!-- William IV -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="W4TF.html">Third Farthing</a>
      <a class="tag is-link" href="W4HF.html">Half Farthing</a>
      <a class="tag is-link" href="W4F.html">Farthings</a>
      <a class="tag is-link" href="W4HP.html">Halfpennies</a>
      <a class="tag is-link" href="W4P.html">Pennies</a>
      <a class="tag is-link" href="W4THP.html">Threehalfpence</a>
      <a class="tag is-link" href="W43.html">Threepence</a>
      <a class="tag is-link" href="W44.html">Groats</a>
      <a class="tag is-link" href="W46.html">Sixpence</a>
      <a class="tag is-link" href="W4S.html">Shillings</a>
      <a class="tag is-link" href="W4HC.html">Halfcrowns</a>
    </div>
  </nav>
{% elsif monarch == "V" %}
  <!-- Victoria -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="VQF.html">Quarter Farthings</a>
      <a class="tag is-link" href="VTF.html">Third Farthings</a>
      <a class="tag is-link" href="VHF.html">Half Farthings</a>
      <a class="tag is-link" href="VF.html">Farthings</a>
      <a class="tag is-link" href="VHP.html">Halfpennies</a>
      <a class="tag is-link" href="VP.html">Pennies</a>
      <a class="tag is-link" href="VTHP.html">Threehalfpence</a>
      <a class="tag is-link" href="V3.html">Threepence</a>
      <a class="tag is-link" href="V4.html">Groats</a>
      <a class="tag is-link" href="V6.html">Sixpence</a>
      <a class="tag is-link" href="VS.html">Shillings</a>
      <a class="tag is-link" href="VFl.html">Florins</a>
      <a class="tag is-link" href="VDF.html">Double Florins</a>
      <a class="tag is-link" href="VHC.html">Halfcrowns</a>
      <a class="tag is-link" href="VC.html">Crowns</a>
    </div>
  </nav>
{% elsif monarch == "E7" %}
  <!-- Edward VII -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="E7TF.html">Third Farthing</a>
      <a class="tag is-link" href="E7F.html">Farthings</a>
      <a class="tag is-link" href="E7HP.html">Halfpennies</a>
      <a class="tag is-link" href="E7P.html">Pennies</a>
      <a class="tag is-link" href="E73.html">Threepence</a>
      <a class="tag is-link" href="E76.html">Sixpence</a>
      <a class="tag is-link" href="E7S.html">Shillings</a>
      <a class="tag is-link" href="E7Fl.html">Florins</a>
      <a class="tag is-link" href="E7HC.html">Halfcrowns</a>
      <a class="tag is-link" href="E7C.html">Crowns</a>
    </div>
  </nav>
{% elsif monarch == "G5" %}
  <!-- George V -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="G5TF.html">Third Farthing</a>
      <a class="tag is-link" href="G5F.html">Farthings</a>
      <a class="tag is-link" href="G5HP.html">Halfpennies</a>
      <a class="tag is-link" href="G5P.html">Pennies</a>
      <a class="tag is-link" href="G53.html">Threepence</a>
      <a class="tag is-link" href="G56.html">Sixpence</a>
      <a class="tag is-link" href="G5S.html">Shillings</a>
      <a class="tag is-link" href="G5Fl.html">Florins</a>
      <a class="tag is-link" href="G5HC.html">Halfcrowns</a>
      <a class="tag is-link" href="G5C.html">Crowns</a>
    </div>
  </nav>
{% elsif monarch == "G6" %}
  <!-- George VI -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="G6F.html">Farthings</a>
      <a class="tag is-link" href="G6HP.html">Halfpennies</a>
      <a class="tag is-link" href="G6P.html">Pennies</a>
      <a class="tag is-link" href="G63.html">Threepence</a>
      <a class="tag is-link" href="G66.html">Sixpence</a>
      <a class="tag is-link" href="G6S.html">Shillings</a>
      <a class="tag is-link" href="G6Fl.html">Florins</a>
      <a class="tag is-link" href="G6HC.html">Halfcrowns</a>
      <a class="tag is-link" href="G6C.html">Crowns</a>
    </div>
  </nav>
{% elsif monarch == "E2" %}
  <!-- Elizabeth II -->
  <nav class="coin-nav mb-5">
    <div class="tags">
      <a class="tag is-link" href="E2F.html">Farthings</a>
      <a class="tag is-link" href="E2HP.html">Halfpennies</a>
      <a class="tag is-link" href="E2P.html">Pennies</a>
      <a class="tag is-link" href="E23.html">Threepence</a>
      <a class="tag is-link" href="E26.html">Sixpence</a>
      <a class="tag is-link" href="E2S.html">Shillings</a>
      <a class="tag is-link" href="E2Fl.html">Florins</a>
      <a class="tag is-link" href="E2HC.html">Halfcrowns</a>
      <a class="tag is-link" href="E2C.html">Crowns</a>
    </div>
  </nav>
{% endif %}